.post {
    background-color: aliceblue;
    width: 600px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 0 0 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.post-box {
    width: 600px;
    border-radius: 8px 8px 0 0;
}
.post-image {
    width: 100%;
    display: block;
}

.pt-8 {
    padding-top: 8px;
}

.text-btn {
    text-transform: uppercase;
    font-weight: lighter;
}

.tags {
    display:flex;
    gap: 8px;
    list-style: none;
    padding: 0;
}

.tag {
    background-color: var(--var-primary-color);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
}

.tag-html {
    background-color: #e34c26;
    color: white;
}

.tag-css {
    background-color: #264de4;
    color: white;
}
.tag-js {
    background-color: #f0db4f;
    color: black;
}
.tag-php {
    background-color: #86d286;
    color: rgb(0, 0, 0);
}