.post {
    background-color: aliceblue;
    width: 600px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 0 0 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.post-box {
    width: 600px;
    border-radius: 8px 8px 0 0;
}

.post-image {
    width: 100%;
    display: block;
}

.pt-8 {
    padding-top: 8px;
}

.text-btn {
    text-transform: uppercase;
    font-weight: lighter;
}

.tags {
    display: flex;
    padding: 16px 0;
}
.tag {
    padding: 4px 8px;
    border-radius: 8px;
}
.tag-css {
    background-color: rgb(235, 79, 79);
    color: rgb(100, 5, 5);
}

.tag-html {
    background-color: blue;
    color: rgb(161, 161, 234);
}

.tag-js {
    background-color: rgb(255, 130, 13);
    color: rgb(235, 194, 133);
}

.tag-php {
    background-color: yellow;
    color: rgb(161, 153, 0);
}